*,
*:before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #2c2141;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  background-color: #f8f8f8;
  border-radius: 16px;
  width: 624px;
  margin: 16px;
  padding: 32px;
}
.person {
    display: flex;
    align-items: flex-start;
}

.person__info{
    margin-bottom: 24px;
}

.person__photo {
  border-radius: 50%;
  width: 102px;
  margin-right: 32px;
}
.person__name {
  font-size: 36px;
  margin: 0;
  font-weight: normal;
}

.person__position {
  font-size: 18px;
  color: #545454;
  margin: 0;
  font-style: italic;
}


.person__position--special{
    font-weight: normal;
    font-size: 10px;
  color: #545454;
  margin: 0;
  font-style: italic;

}
.person__description {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.person__description--with-margin{
    margin-bottom: 22px;
    font-size: 14px;
}
.special {
    color: #ED6D05;
    font-weight: normal;
}

.person__social{
    color:#E20613 ;
    font-weight: normal;
    text-decoration: none;
}
